.about_content p {
    color: #484848;
    margin-inline: 80px;
    text-align: center;
    font-size: 18px;
}

.about_content h1{
    font-family: nunito, sans-serif;
    color: #484848;
    text-align: center;
    font-size: 30px;
}